body {
  background-color:#90aadd;
}
#main {
  border:1px solid;
}
#draw {
  border:1px solid;
}
#p {
  align-items:center;
  text-align:center;
  margin:25px;
  border: 1px solid;
  width:70px;
  height:250px;
  overflow:scroll;
}
.c {
  width:50px;
  height:50px;
  margin:10px;
}
#conta1 {
  display:flex;
}
#conta2 {
  display:flex;
}
.c:hover {
  cursor: pointer;
  border:1px solid;
}
#spi {
  margin:5px;
}
#contb1 {
  background-color:#ffffff;
  width:400px;
  margin: 20px;
}
#contb2 {
  width:400px;
  background-color:#ffffff;
  margin: 20px;
}
#contb3 {
  background-color:#ffffff;
  margin: 20px;
}
#contc1 {
  display:flex;
}
#contb4 {
  width:400px;
  background-color:#ffffff;
  margin: 20px;
}
